<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>post</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <h2>Algorithms</h2>
    <hr>
    <button onclick="CommunityDetect()">CommunityDetection</button><br>
    <button onclick="PageRank()">PageRank</button><br>
    <label for="PRByNode">Node:</label>&nbsp;
    <input type="text" name="PRByNode" id="PRByNode">&nbsp;
    <button onclick="PageRankByNode()">PageRankByNode</button><br>
    <!-- <a href="/PageRank">PageRank</a> -->

    <form action="ShortestPath" method="POST">
        <label for="source">Source:</label>
        <input type="text" name="source" id="source">
        <br>
        <label for="target">Target:</label>
        <input type="text" name="target" id="target">
        <br>
        <input type="button" value="submit" onclick="ShortestPath()">
    </form>
    <br>
    <hr>
    <div id='result'></div>
    <script>
        function CommunityDetect() {
            $.ajax({
                url: 'graph_community_detection',
                type: "GET",
                success: (result) => {
                    $('#result').text(result)
                }
            })
        }

        function PageRank() {
            $.ajax({
                url: 'graph_page_rank',
                type: "GET",
                success: (result) => {
                    $('#result').text(result)
                }
            })
        }

        function PageRankByNode() {
            $.ajax({
                url: 'graph_page_rank_node',
                type: "GET",
                data: {
                    node: $('#PRByNode').val()
                },
                // dataType: String,
                success: (result) => {
                    $('#result').text(result)
                }
            })
        }

        function ShortestPath() {
            $.ajax({
                url: 'graph_shortest_path',
                type: "GET",
                data: {
                    source: $('#source').val(),
                    target: $('#target').val()
                },
                // dataType: String,
                success: (result) => {
                    $('#result').text(result)
                }
            })
        }
    </script>
</body>

</html>